body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}
.container {
    text-align: center;
    padding: 20px;
    border: 2px solid #333;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 600;
    height: auto;
}
h1{
    text-decoration: underline;
    padding: 10px;
}
form {
    margin: 20px 0;
}
form label{
    font-size: 20px;
}
form #rowNumber{
    padding: 10px 24px;
}
input[type="number"] {
    width: 50px; 
    height: 20px; 
    font-size: 20px; 
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #333;
}
input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #555;
}
.triangle {
    margin-top: 20px;
}
.row {
    margin: 5px 0;
}
.reset-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #c0392b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.reset-button:hover {
    background-color: #e74c3c;
}